body {
  background-color: #232323;
  font-family: 'Jura', sans-serif;
	margin: 0;
}

h1 {
  background-color: steelblue;
  color: white;
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

button {
  background: none;
  border: none;
  color: steelblue;
  font-family: 'Jura', sans-serif;
  font-size: inherit;
  font-weight: 700;
  height: 100%;
  letter-spacing: 1px;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

button:hover {
  background: steelblue;
	color: white;
}

.square {
  border-radius: 15%;
  margin: 1.66%;
  max-width: 200px;
  padding-top: 20%;
  transition: background 0.6s;
	--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;
  width: 20%;
}

.selected {
	background-color: steelblue;
	color: white;
}

#container {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#colorDisplay {
	font-size: 200%;
}

#stripe {
  align-items: center;
  background-color: white;
  display:flex;
  justify-content:center;
}

#message {
  flex-basis: 20%;
  text-align: center;
}

@media (min-width: 1100px) {
  .square {
    height: 200px;
    padding-top: 0%;
  };
}

@media (max-width: 415px) {
  #container {
    margin-top: 10px;
  }
  #colorDisplay {
    font-size: 100%;
  }
}





